@use "../../../views/ApiRequest/variables";

.textInput {
  width: calc(100% + 10px);
  color: inherit;
  background: none;
  border: none;
  font-size: inherit;
  padding: 0;
  font-family: "Roboto Mono", monospace !important;
  padding: 5px;
  margin: -5px;
  outline: none !important;
  border-bottom: 1px solid
    desaturate(lighten(variables.$apiRequestEditorBg, 25%), 5%);
  transition: background 50ms ease-in-out;

  tr:hover & {
    background: desaturate(lighten(variables.$apiRequestEditorBg, 3%), 5%);
  }

  &:hover,
  &:active {
    background: desaturate(
      lighten(variables.$apiRequestEditorBg, 6%),
      5%
    ) !important;
  }

  &:focus {
    outline: 2px solid
      desaturate(lighten(variables.$apiRequestEditorBg, 50%), 5%) !important;
    border-bottom-color: transparent;
  }
}

.reselectInput {
  width: 100%;
  color: black;
}
