.linkedJsonValue {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  color: var(--base08);
}

.comment {
  color: var(--base03);
}

.unlinkedJsonValue {
  color: var(--base08);
}

.imageJsonValue {
  max-height: 50px;
  display: inline-block;
  margin-right: 1ch;
}

.noSelect {
  user-select: none;
}
