.root {
  margin: 0 !important;
  background: none !important;
  backface-visibility: visible;
  padding: 0 !important;
  transform: translate3d(
    0,
    0,
    0
  ); // prevent the flashing when nodes are opened/closed

  &,
  * {
    font-family: "Roboto Mono", monospace !important;
    user-select: initial !important;
  }

  & > li > ul > li:first-child {
    padding-top: 0 !important;
  }
}

.comment {
  color: #657b83;
  display: inline-block;
  margin-left: 0.5ch;
}
