.root {
  margin: 0 !important;
  background: none !important;

  &,
  * {
    font-family: "Roboto Mono", monospace !important;
  }
}

.comment {
  color: #657b83;
  display: inline-block;
  margin-left: 0.5ch;
}
