.root {
  content: "root";
  background: #16171a;
  border-radius: 5px;
  display: flex;
}

.one .two {
  padding: 15px;
}

.title {
  margin-top: 5px;
}

.inner {
  margin: 0 15px;
  padding: 15px 0;
}

.table {
  border-collapse: collapse;
  margin: auto;
}

.tableHeader {
  font-weight: bold;
  border-bottom: 1px solid rgba(white, 0.75);
  background-color: rgba(black, 0.4);
}

.filterCell {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
  padding-left: 15px;
}

.descriptionCell {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
}

.row {
  &:nth-child(odd) {
    background-color: rgba(black, 0.1);
  }

  &:nth-child(even) {
    background-color: rgba(white, 0.1);
  }
}

.tableNameCell {
  composes: filterCell;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
