.root
  content: 'root'
  background: #16171A
  border-radius: 5px
  display: flex

.one
.two
  padding: 15px

.title
  margin-top: 5px

.inner
  margin: 0 15px
  padding: 15px 0
  // border-top: 1px solid #454548
  // max-height: 90vh
  // overflow: scroll

.table
  border-collapse: collapse
  margin: auto

.tableHeader
  font-weight: bold
  border-bottom: 1px solid rgba(white, .75)
  background-color: rgba(black, .4)

.filterCell
  padding-top: 4px
  padding-bottom: 4px
  padding-right: 15px
  padding-left: 15px

.descriptionCell
  padding-top: 4px
  padding-bottom: 4px
  padding-right: 15px

.row
  &:nth-child(odd)
    background-color: rgba(black, .1)

  &:nth-child(even)
    background-color: rgba(white, .1)


.tableNameCell
  composes: filterCell
  &:hover
    text-decoration: underline
    cursor: pointer
