.root
  content: 'hello'
  display: flex
  color: inherit
  text-decoration: none

.accessory
  margin-right: 10px

.icon
  height: 50px

.main
.name
  white-space: nowrap
  overflow: auto
  text-overflow: ellipsis

.itemType
  opacity: .75
  font-size: .85em
