$iconSize = 50px
$substituteColour = #494A4C

.root
  content: 'hello'
  display: flex
  color: inherit
  text-decoration: none

.accessory
  margin-right: 10px

.icon
  height: $iconSize

.substituteIcon
  height: $iconSize
  width: $iconSize
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid $substituteColour
  color: lighten($substituteColour , 50%)
  font-size: 20px

.main
.name
.itemType
  white-space: nowrap
  overflow: auto
  text-overflow: ellipsis

.itemType
  opacity: .75
  font-size: .85em
