.root
  font-size: 14px

.item
  width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.image
  height: 1.5em
  margin-right: .5ch
  display: inline-block
  vertical-align: middle

.heading
  margin: 0 0 10px 0

.section
  margin-bottom: 15px

.sectionTitle
  margin: 0 0 2px 0

.info
  text-align: center
