$bg: darken(#16171a, 2%);

.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid lighten($bg, 10%);
  padding: 8px;
}

thead {
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: 1em;
  margin: 0 0 8px 0;
  font-weight: 500;
}
