.root
  height: 100%
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(black, .3)

.data
  position: absolute
  overflow: auto
  top: 0
  bottom: 0
  right: 0
  background: #002C36
  padding: 10px
  box-shadow: 0 0px 20px rgba(black,0.3);

// JSON values
.jsonLinkedValue
  text-decoration: underline
  cursor: pointer
  color: inherit

.jsonImage
  max-height: 50px
  display: inline-block
  margin-right: 1ch


.hash
  font-size: 13px
  border-radius: 3px
  font-family: monospace
  font-weight: 400
  margin-left: 1em
  padding: 3px 5px
  background: lighten(#0D2B35, 5%)
  border: 1px solid lighten(#0D2B35, 15%)
