$duration: 200ms;

.root {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(black, 0.3);
  z-index: 999;
}

.titleIcon {
  height: 1.5em;
  display: inline-block;
  margin-right: 0.75ch;
  vertical-align: middle;
}

.code {
  font-size: 13px;
  border-radius: 3px;
  font-family: monospace;
  font-weight: 400;
  margin-left: 1em;
  padding: 3px 5px;
  background: lighten(#0d2b35, 5%);
  border: 1px solid lighten(#0d2b35, 15%);
}

.data {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  background: #002c36;
  padding: 10px;
  box-shadow: 0 0px 20px rgba(black, 0.3);
  will-change: transform;
}

.itemDescription {
  max-width: 600px;
  white-space: pre-wrap;
}

// JSON values
.jsonLinkedValue {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.jsonImage {
  max-height: 50px;
  display: inline-block;
  margin-right: 1ch;
}

:global(.global-dataview-animation-enter) {
  .root {
    background: rgba(black, 0);
  }

  .data {
    transform: translate(100%);
  }
}

:global(.global-dataview-animation-enter.global-dataview-animation-enter-active) {
  .root {
    background: rgba(black, 0.3);
    transition: background $duration;
  }

  .data {
    transform: translate(0%);
    transition: transform $duration;
  }
}

:global(.global-dataview-animation-leave) {
  .root {
    background: rgba(black, 0.3);
  }

  .data {
    transform: translate(0%);
  }
}

:global(.global-dataview-animation-leave.global-dataview-animation-leave-active) {
  .root {
    background: rgba(black, 0);
    transition: background $duration;
  }

  .data {
    transform: translate(100%);
    transition: transform $duration;
  }
}

.rawJsonTextarea {
  width: 100%;
  height: 1px;
  font-family: "Roboto Mono";
  background: transparent;
  font-size: 13px;
  color: #268ad1;

  &::selection {
    background: rgba(white, 0.15);
  }
}

.button,
.debugButton {
  composes: toggleButton from "./detailViews/styles.module.scss";
}

.debugButton {
  margin-left: 15px;
}

.jsonParent > * {
  user-select: initial !important;
}

.swatch {
  height: 1.3em;
  width: 3em;
  margin-bottom: -0.2em;
  display: inline-block;
  border: 1px solid #000;
}
