$duration = 200ms

.root
  height: 100%
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(black, .3)

  :global(.global-dataview-animation-enter) &
    background: rgba(black, 0)

  :global(.global-dataview-animation-enter.global-dataview-animation-enter-active) &
    background: rgba(black, .3)
    transition: background $duration

  :global(.global-dataview-animation-leave) &
    background: rgba(black, .3)

  :global(.global-dataview-animation-leave.global-dataview-animation-leave-active) &
    background: rgba(black, 0)
    transition: background $duration


.data
  position: absolute
  overflow: auto
  top: 0
  bottom: 0
  right: 0
  background: #002C36
  padding: 10px
  box-shadow: 0 0px 20px rgba(black,0.3);
  will-change: transform

  :global(.global-dataview-animation-enter) &
    transform: translate(100%)

  :global(.global-dataview-animation-enter.global-dataview-animation-enter-active) &
    transform: translate(0%)
    transition: transform $duration

  :global(.global-dataview-animation-leave) &
    transform: translate(0%)

  :global(.global-dataview-animation-leave.global-dataview-animation-leave-active) &
    transform: translate(100%)
    transition: transform $duration



// JSON values
.jsonLinkedValue
  text-decoration: underline
  cursor: pointer
  color: inherit

.jsonImage
  max-height: 50px
  display: inline-block
  margin-right: 1ch


.hash
  font-size: 13px
  border-radius: 3px
  font-family: monospace
  font-weight: 400
  margin-left: 1em
  padding: 3px 5px
  background: lighten(#0D2B35, 5%)
  border: 1px solid lighten(#0D2B35, 15%)




:global(.global-dataview-animation-enter)
  .data
    transform: translate(100%)

:global(.global-dataview-animation-enter.global-dataview-animation-enter-active)
  .data
    transform: translate(0%)
    transition: transform $duration

:global(.global-dataview-animation-leave)
  .data
    transform: translate(0%)

:global(.global-dataview-animation-leave.global-dataview-animation-leave-active)
  .data
    transform: translate(100%)
    transition: transform $duration
