.root
  height: 100%
  width: 100%
  display: flex
  flex: 1
  align-items: center
  justify-content: center
  flex-direction: column

.text
  font-size: 24px
  animation: pulse 750ms infinite both alternate;

.icon
  margin-right: .25ch
