.root
  padding: 10px
  background: rgba(black,.15)

.section
  margin-bottom: 15px

.inlineSection
  composes: section
  // display: inline-block

.description
  max-width: 600px
  white-space: pre-wrap

.small
  font-size: .9em
  line-height: 1.2
  margin-top: 5px

.toggleButton
  composes: filterButton from 'src/components/SearchHeader/styles.styl'
  background: rgba(white, .07)
  border: none

  &:hover
    background: rgba(white, .1)

  &:active
    background: rgba(white, .2)

.toggleButtonActive
  composes: toggleButton
  background: rgba(white, 1)
  color: black

  &:hover
    background: rgba(white, .9)

.boringLink
  color: inherit

.title
  margin: 0 0 5px 0

.boringList
  margin-top: 5px
  padding-left: 1ch
  // margin-left: 0
  // padding-left: 0
  list-style-type: none

  li
    margin-left: 0
    padding-left: 0

    &:before
      content: '- '

.sectionTitle
  border-bottom: 1px solid rgba(white, .3)
  font-size: 16px

.sectionItemList
  display: flex
  flex-wrap: wrap

.itemList
  display: flex
  flex-wrap: wrap

.item
  font-size: 14px
  min-width: 200px
  flex: 0 0 auto
  padding: 5px
  width: 16%

  @media screen and (max-width: 1020px)
    width: 25%

  @media screen and (max-width: 820px)
    width: 33.3333%

  @media screen and (max-width: 620px)
    width: auto
    flex: 1 0 50%

.socket
  composes: item
  margin: 5px
  background: rgba(black, .15)
  width: calc(20% - 10px)
  border-radius: 2px
  // transition: all 250ms ease
  max-height: 320px
  overflow: auto

  .item
    padding: 0
    width: 100%

.socketAlts
  opacity: .5

  .item
    padding-top: 5px

.button
  cursor: pointer
  transition: 100ms ease-in-out
  outline: none !important
  background: rgba(white, .07)
  color: white
  border: none
  font-size: inherit
  color: $textColor
  border-radius: 2px

  &:hover
    background: rgba(white, .14)

.smallButton
  composes: button
  font-size: .8em
  vertical-align: top
  margin-left: 10px

:global
  .react-tabs__tab
    padding: 5px 10px

  .react-tabs__tab--selected
    background: rgba(white, .1)
    color: inherit
    border-radius: 3px 3px 0 0
    border-bottom: 1px solid #1D434B


.objectivesList
  font-size: .9em


.inlineIcon
  display: inline-block
  margin-right: 5px
  height: .75em
  vertical-align: middle
