@use "../../variables";

$bg: lighten(variables.$background, 3%);

.titleIcon {
  height: 1.5em;
  display: inline-block;
  margin-right: 0.75ch;
  vertical-align: middle;
}

.code {
  font-size: 13px;
  border-radius: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  margin-left: 1em;
  padding: 3px 5px;
  background: lighten($bg, 5%);
  border: 1px solid lighten($bg, 15%);
}

.itemDescription {
  max-width: 600px;
  white-space: pre-wrap;
}

.tabList {
  margin: 32px 0 16px 0;
}

.tab {
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 16px;
  cursor: pointer;
  position: relative;

  background: #2e2f31;

  &:hover {
    background: lighten(#2e2f31, 15%);
  }

  &.active,
  &:active {
    background: lighten(#2e2f31, 10%);
  }

  &:focus {
    z-index: 3;
  }

  &:first-of-type {
    border-radius: 3px 0 0 3px;
  }

  &:last-of-type {
    border-radius: 0 3px 3px 0;
  }
}

.rawJson {
  font-size: 14px;
  max-height: 80vh;
  overflow: auto;
  background: rgba(black, 0.2);
  border-radius: 3px;

  &,
  * {
    font-family: "Fira Mono";
  }
}
