.root
  height: 100vh // TODO: not going to be full height properly
  display: flex
  flex-direction: column

.body
  flex: 1
  overflow: scroll

.items
  display: flex
  flex-wrap: wrap

.item
  min-width: 200px
  flex: 1 0 20%
  padding: 5px

