.root
  height: 100vh // TODO: not going to be full height properly
  display: flex
  flex-direction: column

.body
  position: relative
  z-index: 1
  flex: 1
  overflow: scroll
  padding: 10px

.items
  display: flex
  flex-wrap: wrap

.item
  min-width: 200px
  flex: 0 0 auto
  padding: 5px
  width: 20%

  @media screen and (max-width: 1020px)
    width: 25%

  @media screen and (max-width: 820px)
    width: 33.3333%

  @media screen and (max-width: 620px)
    width: auto
    flex: 1 0 50%

