#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.ListItemOdd,
.ListItemEven {
  /* border: 1px solid #bdc3c7; */
  display: inline-block;
  /* width: 200px; */
}

.ListItemOdd {
  background: rgba(0, 0, 0, 0.15);
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 8px;
}

.item_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-loading {
  height: 50px;
  padding-left: 58px;
}

.item_icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: #13171e;
}

/* .item-tier-blue {
  background: #5176a3;
}
.item-tier-legendary {
  background: #522f65;
} */

.finished-table:nth-child(1) {
  opacity: 0.9;
}

.finished-table:nth-child(2) {
  opacity: 0.85;
}

.finished-table:nth-child(3) {
  opacity: 0.8;
}

.finished-table:nth-child(4) {
  opacity: 0.75;
}

.finished-table:nth-child(5) {
  opacity: 0.7;
}

.finished-table:nth-child(6) {
  opacity: 0.65;
}

.finished-table:nth-child(7) {
  opacity: 0.6;
}

.finished-table:nth-child(8) {
  opacity: 0.55;
}

.finished-table:nth-child(9) {
  opacity: 0.5;
}

.finished-table:nth-child(10) {
  opacity: 0.45;
}

.finished-table:nth-child(11) {
  opacity: 0.4;
}

.finished-table:nth-child(12) {
  opacity: 0.35;
}

.finished-table:nth-child(13) {
  opacity: 0.3;
}

.finished-table:nth-child(14) {
  opacity: 0.25;
}

.finished-table:nth-child(15) {
  opacity: 0.2;
}

.finished-table:nth-child(16) {
  opacity: 0.15;
}

.finished-table {
  opacity: 0.1;
}
