.player {
  display: flex;
  line-height: 1;
  align-items: center;
  padding: 4px 0;
  margin-left: -4px;
}

.playerAccessory {
  margin-right: 8px;
}

.playerEmblem {
  height: 35px;
  width: 35px;
}

.playerName {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 4px;
}

.playerDescription {
  // font-size: 0.9em;
}
